*{
    box-sizing: border-box;
    /* border: 2px solid; */
}

.mainCointainer{
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

.heading{
    font-size: 40px;
    font-weight: 900;
    font-family: Georgia, 'Times New Roman', Times, serif;
    align-items: center;
    text-align: center;
}

.ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width :70vh;
    height: 40px;
    margin-top: 50px;
}

.li{
    margin-left: 30px;
    list-style-type: none;
    font-size: 20px;
    font-weight: 500;
}

a{
    text-decoration: none;
    color: black;
}

.input{
    width: 50vh;
    margin: 15px;
    height: 60px;
    border-width:2px;
    padding-left: 10px;
    border-radius: 12px;

}

input:hover{
    border: 2px solid blue;
}

.btn-width{
    height: 60px;
    width: 15vh;
    background-color: blue;
    border-radius: 15px;
    border-width: 0px;
    font-size: 20px;
    color: white;
    margin-left: 10px;
}

button:hover{
    height: 63px;
}

.checkbox{
    height:25px; 
    width:25px;
    margin-left: 15px;
    border-radius: 10px;
    border-width: 2px solid;
}

.createdContainer{
    display: flex;
    margin-right: 10px;
    margin-bottom: 10px;
} 

.labelElement{
    margin-left: 10px;
    font-size: 30px;
    text-align: center;
}

.text{
    text-decoration: line-through;
}

